*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i,
svg {
    pointer-events: none;
}

.kick-pad, 
.clap-pad, 
.hihat-pad, 
.chant-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor:pointer;
}

.kick-pad{
    background: rgb(59, 148, 189);
}

.kick-pad.active{
    background:rgb(0, 174, 255) ;
}

.clap-pad{
    background: rgb(236, 168, 136);
}

.clap-pad.active{
    background:rgb(255, 81, 0) ;
}

.hihat-pad{
    background: rgb(65, 96, 110);
}

.hihat-pad.active{
    background:rgb(146, 221, 255) ;
}

.chant-pad{
    background: rgb(183, 165, 196);
}

.chant-pad.active{
    background:rgb(229, 198, 252) ;
}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-track,.clap-track,.hihat-track,.chant-track{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin: 5rem;
}

.kick,
.clap,
.hihat,
.chant{
    display: flex;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button{
    padding: 1rem;
    border: none;
    background: rgb(70, 75, 65);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s eass;
}

.pad{
    transition: all 0.5s ease;

}

.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(78, 134, 122);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select{
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem ;
}

@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.mute.active{
    background: rgb(189, 173, 173);
}
.tempo{
    margin: 3rem;
    width: 30%;
}
.tempo-slider{
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(88,88, 88);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p{
    font-size:1.5 rem;
    margin: 2rem;
    text-align: center;
}